/* github.com/oguiisouza | guilhermesc.com */

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
@import url('font-awesome.min.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
		@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

	body,input,textarea,select {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 18pt;
		line-height: 1.75em;
		color: #000000;
		letter-spacing: 0.5px;
	}
	
	*{
	transition: .2s linear;
}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 900;
		color: inherit;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}
		
	h2 {
		font-size: 2.25em;
		letter-spacing: -2px;
		line-height: 1.25em;
	}
		
	strong, b {
		font-weight: 900;
		color: inherit;
	}
	
	em, i {
		font-style: italic;
	}

	a {
		color: #98c593;

		-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	

	header {
		margin-bottom: 1em;
	}
	
		header p {
			display: block;
			margin: 1em 0 0 0;
			padding: 0 0 0.5em 0;
		}
		
	footer {
		margin-top: 2em;
	}

	br.clear {
		clear: both;
	}

		.image {
			position: relative;
			display: inline-block;
		}

		
			.image img {
				display: block;
				width: 100%;
			}

			.image.featured {
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.fit {
				display: block;
				width: 100%;
			}
			
			.image.left {
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered {
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img {
					margin: 0 auto;
					width: auto;
				}

		/*	######################## FORMULARIO ########################### */
		
		.container{
			max-height: 85%;
			width: 820px;
			max-width: 90%;
			border-radius: 15px;
			position: relative;
		}
		.container .lado1{
			flex: 1 1 410px;
			padding: 40px;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			background-color: #fff;
		}
		.container .lado1 h1{
			color: #1abc9c;
			font-size: 1.8em;
			line-height: 30px;
			margin-bottom: 15px;
		}
		.container .lado1 p{
			margin-bottom: 30px;
		}
		.container .lado2{
			flex: 1 1 410px;
			padding: 30px;
			background-color: #1abc9c;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			position: relative;
		}

		.container .lado1   i{
			background-color: #1abc9c;
			width: 40px;
			text-align: center;
			line-height: 40px;
			height: 40px;
			color: #fff;
			border-radius: 10px;
		}
		.container .lado2 form{
			z-index: 10;
		}
		.container .lado2 input{
			display: block;
			width: 100%;
			padding: 10px 20px;
			border: 2px solid #fff;
			margin: 15px 0;
			background-color: #1abc9c;
			border-radius: 20px;
			color: #fefefe;
		}
		.container .lado2 .enviar{
			background-color: #fefefe;
			color: #1abc9c;
			cursor: pointer;
			width: 100%;
			font-weight: 600;
		}
		.container .lado2 .enviar:hover{
			background-color: #1abc9c;
			border: 2px solid #fefefe;
			color: #fefefe;
		}
		.container .lado2 .usuario{
			position: relative;
		}
		.container .lado2 label{
			color: #fefefe;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 20px;
			pointer-events: none;
			font-size: .9em;
			font-weight: 400;
		}
		.container .lado2 .usuario.focus label{
			background-color: #1abc9c;
			padding: 0 5px;
			top: 0;
			transform: translateY(-50%);
		}
		.container .lado2 .quadrado{
			position: absolute;
			text-align: center;
			height: 26px;
			width: 26px;
			background-color: #1abc9c;
			top: 35px;
			left: -10px;
			z-index: 10;
			transform: rotate(45deg);
		}
		.container .lado2 h1{
			color: #fff;
		}
		
		@media (max-width: 911px){
			.container .lado2 .quadrado{
				right: 10%;
				top: -3%;
				left: auto;
				z-index: 10;
			}
			.container .lado1{
				border-top-right-radius: 15px;
				border-top-left-radius: 15px;
				border-bottom-left-radius: 0  
			}
		}
				
		/*	################################################### */

			.button.down {
				width: 5em;
				height: 5em;
				line-height: 4.5em;
				padding: 0;
				background-image: url('images/dark-arrow.svg');
				background-position: center center;
				background-repeat: no-repeat;
				text-indent: -10em;
				overflow: hidden;
			}
			
				.button.down.anchored {
					bottom: 0;
					border-bottom: 0;
					border-radius: 3em 3em 0 0;
					height: 4.5em;
					margin-left: -2.5em;
				}
			
			.button.anchored {
				position: absolute;
				left: 50%;
			}
			
			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover {
				background-color: #a8d5a3;
			}

			input[type="button"].style2,
			input[type="submit"].style2,
			input[type="reset"].style2,
			.button.style2 {
				background-color: transparent;
				border: solid 2px #e5e6e7;
				color: inherit;
			}
				.button.style2.down {
					background-image: url('images/arrow.svg');
				}
		
		.main {
			position: relative;
			margin: 0;
			overflow-x: hidden;
		}
		
			.main.style1 {
				text-align: center;
				padding: 10em 0 10em 0;
			}
			
				.main.style1 h2 {
					font-size: 4.25em;
					line-height: 1em;
					letter-spacing: -4px;
				}

		
			.main.style2 {
				padding: 10em 0 10em 0;
				overflow: hidden;
			}
		
			.main.style3 {
				text-align: center;
				padding: 6em 0 6em 0;
			}

					.main.style3 .content > header {
						margin-bottom: 2em;
					}

				.main.style3.primary {
					background: #fff;
				}
			
				.main.style3.secondary {
					background: #f5f6f7;
				}



		.dark {
			color: #fff;
		}

			.dark a {
				color: #fff;
			}

				.dark .button.style2:hover {
					background-color: rgba(255,255,255,0.1);
				}
				
				.dark .button.style2.down {
					background-image: url('images/dark-arrow.svg');
				}
		

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		
		.icon > .label {
			display: none;
		}


	#header {
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: #fff;
		background: rgba(255,255,255,0.95);
		height: 3em;
		line-height: 3em;
		box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
	}
	
	body {
		padding-top: 3em;
	}

	#logo {
		position: absolute;
		left: 1em;
		top: 0;
		height: 3em;
		line-height: 3em;
		letter-spacing: -1px;
	}
	
		#logo a {
			font-size: 1.25em;
		}
	
	#nav {
		position: absolute;
		right: 0.5em;
		top: 0;
		height: 3em;
		line-height: 3em;
	}

		#nav ul {
			margin: 0;
		}

			#nav ul li {
				display: inline-block;
				margin-left: 0.5em;
				font-size: 0.9em;
			}
			
				#nav ul li a {
					display: block;
					color: inherit;
					text-decoration: none;
					height: 3em;
					line-height: 3em;
					padding: 0 0.5em 0 0.5em;
					outline: 0;
				}

	#intro {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/intro.jpg');
		background-size:  cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: no-repeat, no-repeat;
	}

	
			#work .row.images .image {
				position: relative;
				top: 0;
				left: 0;
				
			
				-moz-transition: all 1s ease;
				-webkit-transition: all 1s ease;
				-o-transition: all 1s ease;
				-ms-transition: all 1s ease;
				transition: all 1s ease;
				
				-moz-transform: translateZ(0);
				-webkit-transform: translateZ(0);
				-o-transform: translateZ(0);
				-ms-transform: translateZ(0);
				transform: translateZ(0);
			}

				#work .row.images.inactive .image {
					opacity: 0;
				}
			
				#work .row.images.inactive .image.from-left {
					left: -14em;
				}
			
				#work .row.images.inactive .image.from-right {
					left: 14em;
				}
			
				#work .row.images.inactive .image.from-top {
					top: -7em;
				}
			
				#work .row.images.inactive .image.from-bottom {
					top: 7em;
				}

	#footer {
		position: relative;
		height: 5em;
		line-height: 5em;
		margin: 0;
		background: #1abc9c;
		color: #999;
		color: rgba(1255, 255, 255);
		overflow: hidden;
	}

		#footer a {
			color: rgb(255, 255, 255);
			color: rgba(255, 255, 255);
		}

			#footer a:hover {
				color: #bbb;
				color: rgb(255, 255, 255);
			}
	
		#footer .actions {
			position: absolute;
			left: 1em;
			top: 0.25em;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}
		
			#footer .actions li {
				font-size: 1.25em;
				margin: 0;
			}
			
				#footer .actions li a {
					padding: 0.5em;
				}
		
		#footer .menu {
			position: absolute;
			right: 2em;
			top: 0;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}
		
			#footer .menu li {
				font-size: 0.9em;
			}


			input[type="button"],
		.button {
			background-color: #98c593;
			border: 0;
			border-radius: 3.5em;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			height: 3.5em;
			line-height: 3.5em;
			outline: 0;
			padding: 0 2em 0 2em;
			position: relative;
			text-align: center;
			text-decoration: none;

			-moz-appearance: none;
			-webkit-appearance: none;
			-o-appearance: none;
			-ms-appearance: none;
			appearance: none;

			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}

			.button.down {
				width: 5em;
				height: 5em;
				line-height: 4.5em;
				padding: 0;
				background-image: url('images/dark-arrow.svg');
				background-position: center center;
				background-repeat: no-repeat;
				text-indent: -10em;
				overflow: hidden;
			}
			
				.button.down.anchored {
					bottom: 0;
					border-bottom: 0;
					border-radius: 3em 3em 0 0;
					height: 4.5em;
					margin-left: -2.5em;
				}
			
			.button.anchored {
				position: absolute;
				left: 50%;
			}
